<template>
  <div class="about">
    <div v-if="!updating">
      <v-list class="darken-2" dark>
        <template v-for="(item, index) in items">
          <v-list-tile class="item_day" :key="item.name" @click>
            <v-list-tile-action>
              <v-avatar color="#00be7e">
                <span class="white--text headline">{{$t(item.day)}}</span>
              </v-avatar>
            </v-list-tile-action>
            <v-list-tile-content>
              <vue-slider
                class="d_slider"
                ref="slider"
                id="custom-tootip"
                v-bind="day_slider"
                v-model="item.value"
              >
                <template slot="label" scope="{ label, active }">
                  <span :class="['custom-label', { active }]" v-if="label % 18 === 0">{{ label/6 }}</span>
                </template>
              </vue-slider>
            </v-list-tile-content>
          </v-list-tile>
        </template>
      </v-list>
      <v-layout row>
        <div class="ccst">
          <circle-slider v-model="device.ecoTargetValue" :min="10" :max="50" :knob-radius="8"></circle-slider>
          <div class="circle_value" style="width: 50px;height: 55px;"><p class="display-1">{{device.ecoTargetValue}}</p></div>
          {{$t('modes.eco')}}
        </div>
        <v-spacer></v-spacer>
          <div>
            <span class="display-2">{{device.value}}˚C</span><br>
            <p class="caption">{{$t('current_temp')}}</p>
            <div>
                <v-menu offset-y>
                  <template v-slot:activator="{ on }">
                    <v-btn small round :color="modeColor" dark  v-on="on" class="text-none">
                      {{$t('current_mode')}}: {{currentMode}}
                    </v-btn>
                  </template>
                  <v-list>
                    <v-list-tile
                      v-for="(item, index) in modes"
                      :key="index"
                      @click="changeMode(item.value)">
                      <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                    </v-list-tile>
                  </v-list>
                </v-menu>
              </div>
          </div>
        <v-spacer></v-spacer>
        <div class="ccst">
          <circle-slider v-model="device.normalTargetValue" :min="10" :max="50" :knob-radius="8" progress-color="#EF5350" knob-color="#EF5350"></circle-slider>
          <div class="circle_value" style="width: 50px;height: 55px;"><p class="display-1">{{device.normalTargetValue}}</p></div>
          {{$t('modes.normal')}}
        </div>
      </v-layout>
    </div>
    <p v-if="updating">
      <v-progress-circular :size="70" :width="7" color="#00be7e" indeterminate></v-progress-circular>
    </p>
  </div>
</template>
<script>
import vueSlider from "vue-slider-component";
//import 'vue-slider-component/theme/antd.css'
import axios from "axios";
export default {
  components: {
    vueSlider
  },
  data() {
    console.log(this.$route.params);
    this.$store.commit("setDeviceId", this.$route.params.id);
    return {
      //device: this.$store.getters.getDevice,
      day_slider: {
        width: "100%",
        show: true,
        value: 0,
        min: 0,
        max: 24 * 6,
        piecewiseLabel: true,
        tooltip: false,
        processStyle: {
          backgroundColor: '#EF5350'
        },
        sliderStyle: {
          backgroundColor: '#EF5350'
        },
        bgStyle: {
          backgroundColor: '#00be7e'
        },

      },
      items: this.$store.getters.getSheduler,
      modes: [
        { title: this.$t('modes.normal'), value: 1},
        { title: this.$t('modes.eco'), value: 0},
        { title: this.$t('modes.off'), value: -1}
      ]
    };
  },
  methods:
  {
    changeMode(value){
      var payload = {'name': this.device.object+".status" , 'value': value}
      this.$store.dispatch('setGlobal', payload)
      this.device.status = value
    }
  },
  computed: {
    updating() {
      return this.$store.getters.loadData;
    },
    device()
    {
      return this.$store.getters.getDevice;
    },
    currentMode()
    {
      let mode = this.$t('modes.off')
      if (this.device.status == 0) mode = this.$t('modes.eco')
      if (this.device.status == 1) mode = this.$t('modes.normal')
      return mode
    },
    modeColor()
    {
      let color = "primary"
      if (this.device.status == 0) color = "#00be7e"
      if (this.device.status == 1) color = "#EF5350"
      return color
    }

  },

  mounted() {
    this.$store.dispatch("loadSheduler", this.$route.params.id);
  }
};
</script>
<style scoped>
.custom-label {
  position: absolute;
  bottom: 0%;
  left: 0;
  transform: translate(-50%, -12px);
  margin-left: 3px;
  color: #00be7e;
}
.custom-label::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 5px);
  width: 1px;
  height: 5px;
  background-color: #00be7e;
}
.custom-label.active {
  color: #EF5350;
  font-weight: bold;
}
.custom-label.active::after {
  background-color: #EF5350;
  width: 2px;
}
.item_day {
  margin: 1px;
  height: 60px;
}
.vue-slider-component.vue-slider-has-label {
  margin-bottom: -20px;
}

.theme--dark.v-list {
  background: #283237; /* Цвет фона */
  color: #859ba6; /* Цвет текста */
}
.ccst{
  position: relative;
}
.circle_value {
    position: absolute;
    display: table-cell;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 1;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
}
</style>

