<template>
  <div id="app" dark>
    <div>
            <v-toolbar>
              <v-btn v-if="namePage!=$t('thermostats')" icon to="/">
                <v-icon >arrow_back</v-icon>
              </v-btn>

              <v-toolbar-title>{{namePage}}</v-toolbar-title>

              <v-spacer></v-spacer>
              <v-btn icon v-if="namePage!=$t('thermostats')" @click="saveDevice()">
                <v-icon>save</v-icon>
              </v-btn>
              <v-btn icon v-if="namePage==$t('thermostats')" @click="updateDevices()">
                <v-icon>refresh</v-icon>
              </v-btn>
            </v-toolbar>
          </div>
    <router-view/>
  </div>
</template>

<script>
export default {
  computed:{
    namePage() {
      return this.$store.state.title
    }
  },
  methods: {
    updateDevices() {
      this.$store.dispatch("getAllDevices");
    },
    saveDevice(){
      this.$store.dispatch("saveDevice");
    }

  },

}
</script>


<style>

body {
    background: #283237; /* Цвет фона */
    color: #859ba6; /* Цвет текста */
   }
#app {
  max-width: 400px;
  margin: 0 auto;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
